# rmt_storage - rmt_storage daemon
allow rmt_storage rpmb_device:blk_file { open read };
unix_socket_connect(rmt_storage, property, init)
allow rmt_storage ctl_default_prop:property_service set;
