# WifiStateMachine to access wpa_wlan0 socket
allow system_server init:unix_dgram_socket sendto;

#For gss
allow system_server gss_device:chr_file rw_file_perms;
