# Policy for /system/bin/cnss_diag
type cnss_diag, domain;
type cnss_diag_exec, exec_type, file_type;

# b/28340421
userdebug_or_eng(`
  permissive cnss_diag;
')

init_daemon_domain(cnss_diag)

allow cnss_diag self:capability { setgid setuid };

allow cnss_diag self:netlink_socket create_socket_perms;

allow cnss-daemon sysfs_msm_core:dir search;
allow cnss-daemon sysfs_msm_core:file w_file_perms;

userdebug_or_eng(`
  allow cnss_diag diag_device:chr_file rw_file_perms;
')
