type diag_device, dev_type;
type qmuxd_socket, dev_type;
type netmgrd_socket, dev_type;
type sdsprpc_device, dev_type;
type sg_device, dev_type;
type thermal_device, dev_type;

type modem_block_device, dev_type;
type ssd_block_device, dev_type;
