type diag_device, dev_type;
type qmuxd_socket, dev_type;
type sg_device, dev_type;
type modem_block_device, dev_type;
type ssd_block_device, dev_type;
