type energyawareness, domain;
type energyawareness_exec, exec_type, file_type;

init_daemon_domain(energyawareness)

allow energyawareness debugfs_msm_core:dir search;
allow energyawareness debugfs_msm_core:file w_file_perms;

allow energyawareness sysfs_msm_core:dir search;
allow energyawareness sysfs_msm_core:file w_file_perms;
