# STOPSHIP: Remove this debug domain, b/29639939
type google_camera_app_debug, domain;

# permissions that normal third party apps MUST NOT have:
userdebug_or_eng(`
  # Access to Hexagon DSP kernel device
  allow google_camera_app_debug adsprpcd_device:chr_file r_file_perms;
')

# Any permission granted to untrusted_app may be granted outside the
# the userdebug_or_eng() statement
app_domain(google_camera_app_debug)

# Access standard system services
allow google_camera_app_debug app_api_service:service_manager find;
allow google_camera_app_debug audioserver_service:service_manager find;
allow google_camera_app_debug cameraserver_service:service_manager find;
allow google_camera_app_debug mediacodec_service:service_manager find;
allow google_camera_app_debug mediaextractor_service:service_manager find;
allow google_camera_app_debug mediaserver_service:service_manager find;
allow google_camera_app_debug nfc_service:service_manager find;
allow google_camera_app_debug surfaceflinger_service:service_manager find;

# Execute libraries from RenderScript cache
allow google_camera_app_debug app_data_file:file rx_file_perms;

# Read memory info
allow google_camera_app_debug proc_meminfo:file r_file_perms;

# gdbserver / stack traces
allow google_camera_app_debug self:process ptrace;

# Read and write system app data files passed over Binder.
# Motivating case was /data/data/com.android.settings/cache/*.jpg for
# cropping or taking user photos.
allow google_camera_app_debug system_app_data_file:file { read write getattr };
