allow hal_imsrtp sysfs_msm_subsys:dir search;

allow hal_imsrtp vendor_file:dir read;

get_prop(hal_imsrtp, default_prop)
get_prop(hal_imsrtp, radio_prop)
