vndbinder_use(hal_gnss_default)
binder_call(hal_gnss_default, per_mgr);
allow hal_gnss_default per_mgr_service:service_manager find;

allow hal_gnss_default location_data_file:dir search;
allow hal_gnss_default location_data_file:fifo_file { open read setattr write };
allow hal_gnss_default location:unix_stream_socket connectto;
allow hal_gnss_default location_data_file:sock_file write;

