r_dir_file(hal_memtrack_default, hwservicemanager)
r_dir_file(hal_memtrack_default, servicemanager)
r_dir_file(hal_memtrack_default, vndservicemanager)
