allow hal_wifi_hostapd_server sysfs_pcie:dir search;
allow hal_wifi_hostapd_server sysfs_wifi:dir search;
allow hal_wifi_hostapd_server sysfs_wifi:file r_file_perms;
