# TODO(b/36576569): Remove this once hal_gnss_default stops accessing /dev/binder
typeattribute hal_gnss_default binder_in_vendor_violators;
# TODO(b/36730929): Remove once hal_gnss_default is no longer accessing
# /data outside /data/vendor.
typeattribute hal_gnss_default coredata_in_vendor_violators;
