typeattribute hal_audio_default data_between_core_and_vendor_violators;
allow hal_audio_default perfd:unix_stream_socket connectto;
allow hal_audio_default perfd_data_file:dir search;
allow hal_audio_default perfd_data_file:sock_file write;

allow hal_audio_default audio_device:chr_file rw_file_perms;
r_dir_file(hal_audio_default, sysfs_soc)

userdebug_or_eng(`
  allow hal_audio_default diag_device:chr_file rw_file_perms;
')

allow hal_audio_default audio_vendor_data_file:dir rw_dir_perms;
allow hal_audio_default audio_vendor_data_file:file create_file_perms;

dontaudit hal_audio_default hal_power_hwservice:hwservice_manager find;
