#access to /sys/devices/soc0/hw_platform and /sys/devices/soc0/soc_id
allow hal_gnss self:socket { create read write ioctl } ;
allowxperm hal_gnss self:socket ioctl { IPC_ROUTER_IOCTL_BIND_CONTROL_PORT
                                        IPC_ROUTER_IOCTL_LOOKUP_SERVER } ;
allow hal_gnss self:netlink_socket { create bind read };

r_dir_file(hal_gnss, sysfs_msm_subsys);

userdebug_or_eng(`
  allow hal_gnss diag_device:chr_file { read write open ioctl};
')

#access to /sys/bus/esoc/devices
allow hal_gnss sysfs:dir { read open };

allow hal_gnss sysfs_soc:dir search;

#access to /sys/devices/soc0/soc_id and /sys/devices/soc0/hw_platform
allow hal_gnss sysfs_soc:file { read open getattr };

# Added to enable XTRA download (from internet) per
# audit2allow after a test that downloaded XTRA on boot
#
# TODO:(b/35757613) - STOPSHIP - HAL cannot have direct inet access
#
allow hal_gnss dnsproxyd_socket:sock_file write;
allow hal_gnss fwmarkd_socket:sock_file write;
allow hal_gnss netd:unix_stream_socket connectto;
allow hal_gnss port:tcp_socket name_connect;
allow hal_gnss self:tcp_socket { connect create read setopt write };
allow hal_gnss self:udp_socket { create ioctl read write };
