# The Qualcomm DRM-HAL implementation uses a vendor-binder service provided
# by the HWC HAL.
vndbinder_use(hal_drm_default);
allow hal_drm_default qdisplay_service:service_manager { find };
binder_call(hal_drm_default, hal_graphics_composer)

# communicate with perfd
typeattribute hal_drm_default data_between_core_and_vendor_violators;
allow hal_drm_default perfd_data_file:dir search;
allow hal_drm_default perfd:unix_stream_socket connectto;
allow hal_drm_default perfd_data_file:sock_file write;
