# symlink /sdcard to backing block
allow init tmpfs:lnk_file create;

# Run "ifup lo" to bring up the localhost interface
allowxperm init self:udp_socket ioctl { SIOCSIFFLAGS };

allow init proc_kernel_sched:file w_file_perms;
allow init sysfs_type:lnk_file read;

allow init firmware_file:dir mounton;
allow init persist_file:dir mounton;
allow init userdata_block_device:blk_file { write };

allow init persist_block_device:lnk_file relabelto;

# b/70518189 vDSO experiments
allow init sysfs_vdso:file w_file_perms;

allow init hwservicemanager:binder { call transfer };
