# in addition to ioctl commands granted to domain allow netd to use:
allowxperm netd self:udp_socket ioctl { SIOCSIFFLAGS SIOCSIFADDR SIOCGIFHWADDR };
