# in addition to ioctl commands granted to netdomain allow netd to use:
allowxperm netd self:udp_socket ioctl { SIOCSIFFLAGS SIOCSIFADDR SIOCGIFHWADDR };
