# Policy for /system/bin/netmgrd
type netmgrd, domain;
type netmgrd_exec, exec_type, file_type;

init_daemon_domain(netmgrd)
net_domain(netmgrd)

# in addition to ioctl commands granted to netdomain allow netmgrd to use:
allowxperm netmgrd self:udp_socket ioctl RMNET_IOCTL_EXTENDED;

# Grant access to Qualcomm MSM Interface (QMI) radio sockets
qmux_socket(netmgrd)

wakelock_use(netmgrd)

# create socket in /dev/socket/netmgrd/
allow netmgrd netmgrd_socket:dir rw_dir_perms;
allow netmgrd netmgrd_socket:sock_file create_file_perms;

# communicate with netd
unix_socket_connect(netmgr, netd, netd)

allow netmgrd proc_net:file r_file_perms;

# specifically not allowing dac_override, net_admin, net_raw, and sys_module
allow netmgrd self:capability { setgid setpcap setuid };

# execute shell and files in /system/
allow netmgrd shell_exec:file rx_file_perms;
allow netmgrd system_file:file rx_file_perms;

# netmgrd sockets
allow netmgrd self:netlink_route_socket { create_socket_perms nlmsg_read nlmsg_write };
allow netmgrd self:netlink_socket write;
allow netmgrd self:netlink_xfrm_socket { create_socket_perms nlmsg_write };
allow netmgrd self:rawip_socket create_socket_perms;
allow netmgrd self:socket create_socket_perms;
