allowxperm priv_app self:udp_socket ioctl { SIOCGIWESSID };

# Clean up logspam
dontaudit priv_app device:dir read;
dontaudit priv_app proc_interrupts:file read;
dontaudit priv_app proc_modules:file read;
