vendor_internal_prop(cnss_diag_prop)
vendor_internal_prop(vendor_charge_prop)
vendor_internal_prop(vendor_ramdump_prop)
vendor_internal_prop(vendor_thermal_prop)
vendor_internal_prop(vendor_timekeep_prop)

vendor_public_prop(bluetooth_log_prop)
vendor_public_prop(hw_sku_prop)
vendor_public_prop(mid_prop)
vendor_public_prop(sys_time_prop)
vendor_public_prop(wc_prop)
