unix_socket_connect(system_app, cnd, cnd)
allow system_app atfwd_service:service_manager add;
allow system_app cne_service:service_manager add;
allow system_app time:unix_stream_socket connectto;
get_prop(system_app, hw_sku_prop);
