# Policy for /system/vendorbin/thermal-engine
type thermal-engine, domain;
type thermal-engine_exec, exec_type, file_type;

init_daemon_domain(thermal-engine)
