allow ueventd sysfs_camera:file w_file_perms;
allow ueventd sysfs_fingerprint:file w_file_perms;
allow ueventd sysfs_msm_subsys:file w_file_perms;
allow ueventd sysfs_nanoapp_cmd:file w_file_perms;
allow ueventd sysfs_net:file w_file_perms;
allow ueventd sysfs_pcie:file w_file_perms;
allow ueventd sysfs_rmtfs:file w_file_perms;
allow ueventd sysfs_soc:file w_file_perms;
allow ueventd sysfs_video:file w_file_perms;
