on post-fs
    ## ensure correct calibration file permissions
    chown root system /persist/sensorcal.json
    chmod 0640 /persist/sensorcal.json
    start flash-nanohub-fw

# TODO: Fix path to nanoapp_cmd once partitions are setup
service flash-nanohub-fw /system/vendor/bin/nanoapp_cmd download
    oneshot
    disabled

