<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.pixel.marlin.gfxdrv" >

    <application
        android:label="Pixel 2016 Graphics Driver"
        android:allowBackup="false"
        android:hasCode="false"
        android:extractNativeLibs="false"
        android:multiArch="true">
    </application>

</manifest>
