# adsprpcd daemon
type adsprpcd, domain;
type adsprpcd_exec, exec_type, file_type;

# Started by init
init_daemon_domain(adsprpcd)

allow adsprpcd qdsp_device:chr_file r_file_perms;

# For reading dir/files on /dsp
r_dir_file(adsprpcd, adsprpcd_file)
