# allow application to access cnd domain and socket
unix_socket_connect(appdomain, cnd, cnd)

unix_socket_connect(appdomain, qlogd, qlogd)
#Allow all apps to open and send ioctl to qdsp device
allow appdomain qdsp_device:chr_file r_file_perms;
