#Define the logging device type
type diag_device, dev_type;
type smem_log_device, dev_type;

#Define the hsic device
type hsic_device, dev_type;

#Define the mhi device
type mhi_device, dev_type;

#device type for smd device nodes, ie /dev/smd*
type smd_device, dev_type;

#Define thermal-engine devices
type thermal_device, dev_type;

#Define vm_bms devices
type vm_bms_device, dev_type;
type battery_data_device, dev_type;

#Add qdsp_device type
type qdsp_device, dev_type;
#Define hvdcp/quickcharge device
type hvdcp_device, dev_type;

#Define mpdecision device
type device_latency, dev_type;

#Define rct device type for time daemon
type rtc_device, dev_type;

#Added for fm_radio device
type  fm_radio_device, dev_type;

#Add for storage pertitions for EFS partitions
type modem_efs_partition_device, dev_type;

#Define device for partition links
type ssd_device, dev_type;
type rpmb_device, dev_type;

#ESOC device
type esoc_device, dev_type;

#SSR device
type ssr_device, dev_type;

#Ramdump device
type ramdump_device, dev_type;

#Kickstart bridge devices
type ksbridgehsic_device, dev_type;

#EFS sync bridge devices
type efsbridgehsic_device, dev_type;

#EFS sync block devices
type efs_boot_dev, dev_type;

#Misc partition
type misc_partition, dev_type;

#Bootselect partition
type bootselect_device, dev_type;

#define usb_uicc_device for usb_uicc daemon
type usb_uicc_device, dev_type;

# Define IPA devices
type ipa_dev, dev_type;

type mmc_block_device, dev_type;

#Define Gadget serial device
type gadget_serial_device, dev_type;
