userdebug_or_eng(`
  allow domain diag_device:chr_file rw_file_perms;
')

r_dir_file(domain, sysfs_socinfo);
r_dir_file(domain, sysfs_esoc);
r_dir_file(domain, sysfs_ssr);
