type dtseagleservice, domain;
type dtseagleservice_exec, exec_type, file_type;

#Allow for transition from init domain to dtseagleservice
init_daemon_domain(dtseagleservice)

#Allow dtseagleservice to use Binder IPC
binder_use(dtseagleservice)

#Allow dtseagleservice to interact with apps
binder_call(dtseagleservice, platform_app)
binder_call(dtseagleservice, system_app)

# Mark dtseagleservice as a Binder service domain
binder_service(dtseagleservice)

#Allow dtseagleservice to be registered with service manager
allow dtseagleservice dtseagleservice_service:service_manager add;

#Allow access to audio drivers
allow dtseagleservice audio_device:dir r_dir_perms;
allow dtseagleservice audio_device:chr_file rw_file_perms;
