type energyawareness, domain;
type energyawareness_exec, exec_type, file_type;

#started by init
init_daemon_domain(energyawareness)

#allow access to pta and uio interface
allow energyawareness { pta_device uio_device }:chr_file rw_file_perms;

allow energyawareness self:netlink_kobject_uevent_socket create_socket_perms;

allow energyawareness self:capability net_admin;

allow energyawareness sysfs:file w_file_perms;
