# Policies for hbtp (host based touch processing)
type hbtp, domain;
type hbtp_exec, exec_type, file_type;

init_daemon_domain(hbtp)

# Allow access for /dev/hbtp_input and /dev/jdi-bu21150
allow hbtp { hbtp_device bu21150_device }:chr_file rw_file_perms;

allow hbtp hbtp_cfg_file:dir rw_dir_perms;
allow hbtp hbtp_cfg_file:file create_file_perms;

allow hbtp hbtp_log_file:dir rw_dir_perms;
allow hbtp hbtp_log_file:file create_file_perms;

allow hbtp self:netlink_kobject_uevent_socket { create read setopt bind };

binder_use(hbtp);
