#integrated sensor process
type ims_rtp_daemon, domain;
type ims_rtp_daemon_exec, exec_type, file_type;

# Started by init
init_daemon_domain(ims_rtp_daemon)

allow radio ims_socket:sock_file { open read write };
allow ims_rtp_daemon ims_socket:sock_file { open read write };

