#integrated sensor process
type imscm, domain;
type imscm_exec, exec_type, file_type;

# Started by init
init_daemon_domain(imscm)
net_domain(imscm)

# To make VT call
binder_use(imscm)

#Add connectionmanager service
allow imscm imscm_service:service_manager add;

unix_socket_connect(imscm, ims, ims)
allow imscm self:capability net_raw;

# imscm needs to communicate with test app
# using binder call
binder_call(imscm, system_app)
binder_call(imscm, platform_app)

userdebug_or_eng(`
  binder_call(imscm, untrusted_app)
')

# imscm needs read/write access to devpts
allow imscm devpts:chr_file rw_file_perms;
