# Restricted domain for shell processes spawned by init.
# Normally these are shell commands or scripts invoked via sh
# from an init*.rc file.  No service should ever run in this domain.
type qti_init_shell, domain;
domain_auto_trans(init, shell_exec, qti_init_shell)

# Run helpers from / or /system without changing domain.
allow qti_init_shell rootfs:file execute_no_trans;
allow qti_init_shell system_file:file execute_no_trans;

#for accessing fmradio device node
allow  qti_init_shell  fm_radio_device:chr_file { open read ioctl };
# for insmod of iris ko  , this is needed .
allow qti_init_shell self:capability sys_module;

#for  property starting with hw
allow qti_init_shell  system_prop:property_service set ;

#for access to set BT property
allow qti_init_shell  bluetooth_prop:property_service set;

#most of the default properties are set by qti_init_shell
#allow qti_init_shell  default_prop:property_service set;

#allow qti_init_shell shell_exec:file execute_no_trans;

#Needed in order to set properties while going in/out of debug mode.
#allow qti_init_shell ctl_default_prop:property_service set;

allow qti_init_shell efs_boot_dev:blk_file r_file_perms;

#perfd
#allow qti_init_shell ctl_default_prop:property_service set;

allow qti_init_shell ctl_rildaemon_prop:property_service set;

#for access to UICC property
allow qti_init_shell uicc_prop:property_service set;

#for hci_comm_init
allow qti_init_shell serial_device:chr_file rw_file_perms;

#allow property changes
unix_socket_connect(qti_init_shell, property, init)

allow qti_init_shell self:capability
    net_admin;

