allow installd { dpmd_app_data_file location_app_data_file qsee_svc_app_data_file mdtp_svc_app_data_file qtitetherservice_app_data_file} :dir { create_dir_perms relabelfrom relabelto };
allow installd { dpmd_app_data_file location_app_data_file qsee_svc_app_data_file mdtp_svc_app_data_file qtitetherservice_app_data_file} :lnk_file { create_file_perms relabelfrom relabelto };
allow installd { dpmd_app_data_file location_app_data_file qsee_svc_app_data_file mdtp_svc_app_data_file qtitetherservice_app_data_file} :{ file sock_file fifo_file } { getattr unlink rename relabelfrom relabelto setattr };
