type location_app, domain;
app_domain(location_app)
binder_use(location_app)

qmux_socket(location_app)

#Permissions for JDWP
userdebug_or_eng(`
  allow location_app { adbd su }:unix_stream_socket connectto;
  allow location_app surfaceflinger_service:service_manager find;
')

allow location_app location_app_data_file:dir create_dir_perms;
allow location_app location_app_data_file:file create_file_perms ;
allow location_app location_data_file:dir rw_dir_perms;
allow location_app location_data_file:sock_file create_file_perms;
allow location_app self:socket create_socket_perms;
allow location_app system_app_data_file:dir r_dir_perms;
allow location_app anr_data_file:dir rw_dir_perms;
allow location_app anr_data_file:file rw_file_perms;
allow location_app { app_api_service system_api_service }:service_manager find;
