# Allow platform apps to interact with dtseagleservice
binder_call(platform_app, dtseagleservice)

# Allow platform apps to interact with fido daemon
binder_call(platform_app, fidodaemon)

# Allow platform apps to interact with secota daemon
allow platform_app secotad_service:service_manager find;
binder_call(platform_app, secotad)

# Allow platform apps to interact with imscm daemon
binder_call(platform_app, imscm)

allow platform_app color_service:service_manager find;

# Allow NFC service to be found
allow platform_app nfc_service:service_manager find;

#Allow platform apps to interact with seemp health daemon
binder_call(platform_app, seemp_health_daemon)
