# property for uicc_daemon
type uicc_prop, property_type;
type qcom_ims_prop, property_type;
type ctl_qmuxd_prop, property_type;
type ctl_netmgrd_prop, property_type;
type ctl_port-bridge_prop, property_type;

# properties for usf daemons
type usf_prop, property_type;

type freq_prop, property_type;
type perfd_prop, property_type;
type qti_prop, property_type;
type ipacm_prop, property_type;
type ipacm-diag_prop, property_type;
type sensors_prop, property_type;
type msm_irqbalance_prop, property_type;
type camera_prop, property_type;
type sf_lcd_density_prop, property_type;
type opengles_prop, property_type;
type mdm_helper_prop, property_type;
type mpdecision_prop, property_type;

type fm_prop, property_type;
type chgdiabled_prop, property_type;

#properites for netd
type netd_prop, property_type;

# property for location
type location_prop, property_type;

#properites for init.qcom.sh script
type rmnet_mux_prop, property_type;
type qemu_hw_mainkeys_prop, property_type;

type coresight_prop, property_type;
