# Talks to qmuxd via the qmux_radio socket.
qmux_socket(radio);
allow radio ims_socket:sock_file write;

#Need permission to execute com.qualcomm.qti.telephony/app_dex/xx
allow radio radio_data_file:file execute;
allow radio shell_data_file:dir search;
