# Talks to qmuxd via the qmux_radio socket.
qmux_socket(radio);

#Need permission to execute com.qualcomm.qti.telephony/app_dex/xx
allow radio radio_data_file:file x_file_perms;

#Need permission to execute dpmd talk to radio layer
unix_socket_connect(radio, dpmd, dpmd)

# Radio apps needs to communicate with IMS using ims_socket
unix_socket_connect(radio, ims, ims)

# IMS needs permission to use avtimer
allow radio avtimer_device:chr_file r_file_perms;