#Policy for ssr_setup
#ssr_setup - ssr_setup domain
type ssr_setup, domain;
type ssr_setup_exec, exec_type, file_type;
init_daemon_domain(ssr_setup);

#Required to discover esoc's
allow ssr_setup sysfs_esoc:dir { r_file_perms search };
allow ssr_setup sysfs_esoc:lnk_file r_file_perms;

#Required to enable/disable ssr
allow ssr_setup sysfs_ssr:dir { r_file_perms search };
allow ssr_setup sysfs_ssr_toggle:file rw_file_perms;
allow ssr_setup sysfs_ssr:lnk_file rw_file_perms;

#Keeping this here till sysfs labeling is resolved
allow ssr_setup sysfs:file w_file_perms;
