# fm_radio app needes  open read write on fm_radio_device
allow system_app fm_radio_device:chr_file { read open ioctl};
allow system_app ctl_default_prop:property_service set;
allow system_app atfwd_service:service_manager add;

# access to perflock
allow system_app mpctl_socket:dir r_dir_perms;
unix_socket_send(system_app, mpctl, mpdecision)
unix_socket_connect(system_app, mpctl, mpdecision)
allow system_app dpmservice:service_manager add;
unix_socket_send(system_app, mpctl, perfd)
unix_socket_connect(system_app, mpctl, perfd)

# access to mm-pp-daemon
unix_socket_connect(system_app, pps, mm-pp-daemon)
allow system_app cne_service:service_manager add;
