allow dpmd untrusted_app:fd use;
allow dpmd untrusted_app:tcp_socket { read write };
allow untrusted_app dpmd:unix_stream_socket connectto;
allow untrusted_app dpmd_socket:sock_file write;

# access to perflock
allow untrusted_app mpctl_socket:dir r_dir_perms;
unix_socket_send(untrusted_app, mpctl, perfd)
unix_socket_connect(untrusted_app, mpctl, perfd)
unix_socket_send(untrusted_app, mpctl, mpdecision)
unix_socket_connect(untrusted_app, mpctl, mpdecision)
