# usb_uicc_daemon
type usb_uicc_daemon, domain;
type usb_uicc_daemon_exec, exec_type, file_type;

# Make transition from init to its domain
init_daemon_domain(usb_uicc_daemon)

allow usb_uicc_daemon self:socket create_socket_perms;
allow usb_uicc_daemon usb_uicc_device:chr_file rw_file_perms;
allow usb_uicc_daemon uicc_prop:property_service set;
allow usb_uicc_daemon sysfs_usb_uicc:file rw_file_perms;
allow usb_uicc_daemon sysfs_usb_uicc:dir rw_dir_perms;

unix_socket_connect(usb_uicc_daemon, property, init)
