#integrated process
type vm_bms, domain;
type vm_bms_exec, exec_type, file_type;

#started by init
init_daemon_domain(vm_bms)

#allow vm_bms to visit chr_file
allow vm_bms {
    tmpfs
    vm_bms_device
    battery_data_device
}:chr_file rw_file_perms;

#allow vm_bms to drop down to system service
allow vm_bms self:capability { setpcap setgid setuid };

#allow vm_bms to block the system suspend and get wake lock
wakelock_use(vm_bms)

#allow vm_bms to visit sysfs
allow vm_bms sysfs:file w_file_perms;
