allow wfd_app init:unix_stream_socket connectto;
allow wfd_app node:tcp_socket node_bind;
allow wfd_app port:tcp_socket { name_bind name_connect };
allow wfd_app self:tcp_socket { bind create setopt listen write read getopt connect accept getattr };
allow wfd_app dalvikcache_data_file:file { write setattr };
allow wfd_app graphics_device:chr_file rw_file_perms;
allow wfd_app graphics_device:dir r_dir_perms;
allow wfd_app node:udp_socket node_bind;
allow wfd_app port:udp_socket name_bind;
allow wfd_app self:udp_socket { bind create getattr write setopt ioctl read getopt };
allow wfd_app video_device:dir r_dir_perms;
allow wfd_app video_device:chr_file rw_file_perms;
allow wfd_app audio_device:dir r_dir_perms;
allow wfd_app audio_device:chr_file rw_file_perms;
allow wfd_app fwmarkd_socket:sock_file write;
allow wfd_app netd:unix_stream_socket connectto;
allow wfd_app firmware_file:dir r_dir_perms;
allow wfd_app firmware_file:file r_file_perms;
allow wfd_app tee_device:chr_file rw_file_perms;
allow wfd_app media_rw_data_file:dir rw_dir_perms;
allow wfd_app media_rw_data_file:file create_file_perms;
allow wfd_app system_app_data_file:dir create_dir_perms;
allow wfd_app uhid_device:chr_file rw_file_perms;
