allow wpa persist_file:dir search;
qmux_socket(wpa);

allow wpa self:socket create_socket_perms;
allow wpa smem_log_device:chr_file rw_file_perms;
allow wpa proc_net:file write;

# Permission for wpa socket which IMS use to communicate
# Allow wpa_supplicant to send back wifi information to cnd
allow wpa { cnd ims }:unix_dgram_socket sendto;

allow wpa fstman:unix_dgram_socket sendto;
