type diagdciclient_exec, exec_type, file_type;
userdebug_or_eng(`
  type diag_test, domain;
  domain_auto_trans(shell, diagdciclient_exec, diag_test)
  domain_auto_trans(adbd, diagdciclient_exec, diag_test)
  allow diag_test devpts:chr_file getattr;
  allow diag_test self:capability dac_override;
  allow diag_test devpts:chr_file {ioctl read write open};
')

