userdebug_or_eng(`
  domain_auto_trans(init_shell, su_exec, su)
  allow init_shell fuse:dir create_dir_perms;
  allow init_shell fuse:file create_file_perms;
')
